/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.toggle-button {
	-fx-pref-width: 100px;
}

.scroll-pane {
	-fx-pref-width: 100%;
	-fx-pref-height: 100%;
}